- var bscdn = bscdnUrl || '';
- var cdn = cdnUrl || '';

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title= title
    meta(name='description' content='Why pay when you can owe')
    meta(name='HandheldFriendly', content='True')
    meta(name='MobileOptimized', content='320')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='cleartype', content='on')

    link(rel='apple-touch-icon-precomposed', href='#{cdn}/apple-touch-icon-precomposed.png')
    link(rel='shortcut icon', href='#{cdn}/apple-touch-icon.png')

    link(rel='stylesheet', href='#{bscdn}/css/bootstrap.min.css')
    link(rel='stylesheet', href='#{bscdn}/css/bootstrap-theme.min.css')

    meta(name='msapplication-TileImage', content='#{cdn}/apple-touch-icon-precomposed.png')
    meta(name='msapplication-TileColor', content='#222222')

    if canonical
      link(rel='canonical', href=canonical)

    meta(name='mobile-web-app-capable', content='yes')

    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='apple-mobile-web-app-title', content='iouo.me')

  body
    block content
